<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <!-- cron, task queue -->
  <servlet>
    <servlet-name>createExecuteQueryTask</servlet-name>
    <servlet-class>com.appspot.ajnweb.webhandler.CreateExecuteQueryTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createExecuteQueryTask</servlet-name>
    <url-pattern>/sys/createExecuteQueryTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>executeQuery</servlet-name>
    <servlet-class>com.appspot.ajnweb.webhandler.ExecuteQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>executeQuery</servlet-name>
    <url-pattern>/sys/executeQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addTweets</servlet-name>
    <servlet-class>com.appspot.ajnweb.webhandler.AddTweets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTweets</servlet-name>
    <url-pattern>/sys/addTweets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>countDaily</servlet-name>
    <servlet-class>com.appspot.ajnweb.webhandler.CountDaily</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countDaily</servlet-name>
    <url-pattern>/sys/countDaily</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkenv</servlet-name>
    <servlet-class>com.appspot.ajnweb.webhandler.CheckEnvironment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkenv</servlet-name>
    <url-pattern>/sys/checkenv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wicketSessionCleanup</servlet-name>
    <servlet-class>appengine.wicket.AppEngineWicketSessionCleanup</servlet-class>
    <init-param>
      <param-name>servletUrl</param-name>
      <param-value>/sys/wicketSessionCleanup</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>wicketSessionCleanup</servlet-name>
    <url-pattern>/sys/wicketSessionCleanup</url-pattern>
  </servlet-mapping>
  

  <!-- makesynccall -->
  <servlet>
    <servlet-name>makesynccall</servlet-name>
    <servlet-class>appengine.servlet.MakeSyncCallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makesynccall</servlet-name>
    <url-pattern>/sys/makesynccall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readonly_makesynccall</servlet-name>
    <servlet-class>com.appspot.ajnweb.webhandler.ReadOnlyMakeSyncCallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readonly_makesynccall</servlet-name>
    <url-pattern>/makesynccall</url-pattern>
  </servlet-mapping>
  
  <!-- wicket filter -->
  <filter>
    <filter-name>wicket</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>com.appspot.ajnweb.WicketApplication</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>wicket</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- security-constraints -->

  <!-- system -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>system</web-resource-name>
      <url-pattern>/sys/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <!-- admin -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
